.navbar{
    height: 65px;
    background-color: blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    width: 120px;
}
.menu-items{
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: white;
    font-weight: 600;
}

.lg{
    width: 300px;
    height: 30px;
    background-color: rgb(203, 203, 203);
    border-radius: 10px;
}
.md{
    width: 200px;
   height: 25px;
   background-color: rgb(203, 203, 203);
   border-radius: 10px;
}
.sm{
    width: 100px;
    
    height: 20px;
    background-color: rgb(203, 203, 203);
    border-radius: 10px;
}
.userData{
    height: 200px;
    width: 300px;
    border: 2px solid red;
    border-radius: 10px;
    background-color: aliceblue;
    margin-top: 20px;
}
.permanentEmployee{
    background-color: rgb(72, 251, 191);
     height: 200px;
    width: 300px;
}
.notPermanentEmployee{
    background-color: rgb(239, 79, 79);
     height: 200px;
    width: 300px;
}